<link href="{{ STATIC_URL }}css/table.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}css/form.css" rel="stylesheet" type="text/css" media="screen"/>
<script language="javascript" src="{{ STATIC_URL }}js/ajaxupload.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}js/administrator_initialize.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}js/administrator_manageschoolroll.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}js/administrator_manageteacherpost.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}js/administrator_managecourse.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}js/administrator_managescore.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}js/administrator_viewassessment.js" type="text/javascript"></script>

<div class="upload modal hide fade in" id="upload-student">
  <div class="modal-header">
    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>上传学生信息</h3>
  </div>
  <div class="modal-body">
      <div class="control-group">
          <label for="file-student">请务必按照模板格式填写学生信息</label>
              <div class="controls fileinputs">
                  <input class="hide" type="file" name="file" id="file-student" onchange="studentSheetSelected();"/>
                  <button id="browse-student" class="browse btn btn-primary">浏览</button>
                  <span id="path-student">文件路径</span>
              </div>
      </div>
      <div id="property-student"></div>
      <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" onclick="uploadStudent();">上传</button>
          </div>
      </div>
      <div class="progress progress-striped active" id="progress-student">
          <div class="bar" id="progressbar-student" data-percentage="100"></div>
      </div>
  </div>
  <div class="modal-footer"></div>
</div>

<div class="upload modal hide fade in" id="upload-teacher">
  <div class="modal-header">
    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>上传教师信息</h3>
  </div>
  <div class="modal-body">
      <div class="control-group">
          <label for="file-teacher">请务必按照模板格式填写教师信息</label>
              <div class="controls fileinputs">
                  <input class="hide" type="file" name="file" id="file-teacher" onchange="teacherSheetSelected();"/>
                  <button id="browse-teacher" class="browse btn btn-primary">浏览</button>
                  <span id="path-teacher">文件路径</span>
              </div>
      </div>
      <div id="property-teacher"></div>
      <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" onclick="uploadTeacher();">上传</button>
          </div>
      </div>
      <div class="progress progress-striped active" id="progress-teacher">
          <div class="bar" id="progressbar-teacher" data-percentage="100"></div>
      </div>
  </div>
  <div class="modal-footer"></div>
</div>

<div class="container">
    <div id="content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabs-1">学籍管理</a></li>
            <li><a data-toggle="tab" href="#tabs-2">教籍管理</a></li>
            <li><a data-toggle="tab" href="#tabs-3">查看评教</a></li>
            <li><a data-toggle="tab" href="#tabs-4">课程管理</a></li>
            <li><a data-toggle="tab" href="#tabs-5">成绩管理</a></li>
          </ul>
        </div>
        <div class="tab-content">
        <div class="hide current-year"></div>
        <div class="hide current-term"></div>
        <div class="hide current-state"></div>

        <div class="fade in active tab-pane" id="tabs-1">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-1">学院</label>
              <div class="controls">
                <select class="span2 school" name="school-1" id="school-1">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="school-year-1">年级</label>
              <div class="controls">
                <select class="span2 grade" name="grade-1" id="grade-1">
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-success" id="view-student-btn"><i class="icon-search icon-white"></i> 刷新学生名单</button>
                  <button class="btn btn-danger" id="download-student-template-btn"><i class="icon-download icon-white"></i> 下载信息模板</button>
                  <button href="#upload-student" data-toggle="modal" class="upload btn btn-primary" id="upload-student-list-btn"><i class="icon-upload icon-white"></i> 上传学生信息</button>
              </div>
            </div>
          </div>
          <div id="student-result"></div>
        </div>

        <div class="fade in tab-pane" id="tabs-2">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-2">学院</label>
              <div class="controls">
                <select class="span2 school" name="school-2" id="school-2">
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-success" id="view-teacher-btn"><i class="icon-search icon-white"></i> 刷新教师名单</button>
                  <button class="btn btn-danger" id="download-teacher-template-btn"><i class="icon-download icon-white"></i> 下载信息模板</button>
                  <button href="#upload-teacher" data-toggle="modal" class="upload btn btn-primary" id="upload-teacher-list-btn"><i class="icon-upload icon-white"></i> 上传教师信息</button>
              </div>
            </div>
          </div>
          <div id="teacher-result"></div>
        </div>

        <div class="fade in tab-pane" id="tabs-3">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-3">学院</label>
              <div class="controls">
                <select class="span2 school" name="school-3" id="school-3">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="department-3">学系</label>
              <div class="controls">
                <select class="span2 department" name="department-3" id="department-3">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="school-year-3">学年</label>
              <div class="controls">
                <select class="span2 school-year" name="school-year-3" id="school-year-3">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="school-term-3">学期</label>
              <div class="controls">
                <select class="span2 school-term" name="school-term-3" id="school-term-3">
                  <option value="1">上学期</option>
                  <option value="2">下学期</option>
                  <option value="3">小学期</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-assessment-btn"><i class="icon-search icon-white"></i> 查看评教</button>
              </div>
            </div>
          </div>
          <div id="assessment-result"></div>
        </div>

        <div class="fade in tab-pane" id="tabs-4">
          <div class="form-horizontal">
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-success" id="start-select-btn">开放选课</button>
                  <button class="btn btn-danger" id="close-select-btn">关闭选课</button>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="course-type-4">筛选类别</label>
              <div class="controls">
                <div class="btn-group active" data-toggle="buttons-radio" id="course-type-4">
                  <button id="po" class="active btn btn-primary">公选</button>
                  <button id="pr" class="btn btn-primary">公必</button>
                  <button id="mo" class="btn btn-primary">专选</button>
                  <button id="mr" class="btn btn-primary">专必</button>
                  <button id="pe" class="btn btn-primary">体育课</button>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="stage-4">筛选阶段</label>
              <div class="controls">
                <div class="btn-group active" data-toggle="buttons-radio" id="stage-4">
                  <button id="first-select" class="active btn btn-primary">初选</button>
                  <button id="second-select" class="btn btn-primary">复选</button>
                  <button id="instant-select" class="btn btn-primary">抢选</button>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="start-screen-btn">开始筛选</button>
              </div>
            </div>
            <div class="hide alert alert-success" id="course-msg"></div>
          </div>
          <div id="course-result"></div>
        </div>

        <div class="fade in tab-pane" id="tabs-5">
          <div class="form-horizontal">
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-success" id="start-score-btn">开放成绩上传</button>
                  <button class="btn btn-danger" id="close-score-btn">关闭成绩上传</button>
              </div>
            </div>
          </div>
          <div id="score-result"></div>
        </div>

    </div>
</div>
