
<!DOCTYPE html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>
    中山大学本科生教务系统
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="中山大学本科生教务系统">
    <meta name="author" content="叶晓军，杨曦华，钟宇腾，柯毅豪" >
    <meta name="keywords" content="中山大学,中大,本科,教务,系统,选课,退课,成绩">
    <!-- Le styles -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/navbar.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script language="javascript" src="../../static/js/scripts-index.js" type="text/javascript"></script>
    <script language="javascript" src="../../static/js/bootstrap.js" type="text/javascript"></script>
    <script language="javascript" src="../../static/js/login.js" type="text/javascript"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/ico/apple-touch-icon-57-precomposed.png">
  </head>
<div class="container">
    <div id="content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabs-1">开课计划</a></li>
            <li><a data-toggle="tab" href="#tabs-2">录入成绩</a></li>
          </ul>
        <div class="tab-content">
        <div class="active tab-pane" id="tabs-1">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-year">学年</label>
              <div class="controls">
                <select class="span2" name="school-year" id="school-year">
                  <option>2005-2006</option>
                  <option>2006-2007</option>
                  <option>2007-2008</option>
                  <option>2008-2009</option>
                  <option>2009-2010</option>
                  <option>2009-2010</option>
                  <option>2010-2011</option>
                  <option>2011-2012</option>
                  <option>2012-2013</option>
                  <option>2013-2014</option>
                  <option>2014-2015</option>
                  <option>2015-2016</option>
                  <option>2016-2017</option>
                  <option>2017-2018</option>
                  <option>2018-2019</option>
                  <option>2019-2020</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="course-type">课程类别</label>
              <div class="controls">
                <select class="span2" name="course-type" id="course-type">
                  <option>公选</option>
                  <option>公必</option>
                  <option>专选</option>
                  <option>专必</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-course-btn"><i class="icon-search icon-white"></i> 查看可开设课程</button>
              </div>
            </div>
          </div>
          <div id="available-result"></div>
        </div>

        <div class="tab-pane" id="tabs-2">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-year">学年</label>
              <div class="controls">
                <select class="span2" name="school-year" id="school-year">
                  <option>2005-2006</option>
                  <option>2006-2007</option>
                  <option>2007-2008</option>
                  <option>2008-2009</option>
                  <option>2009-2010</option>
                  <option>2009-2010</option>
                  <option>2010-2011</option>
                  <option>2011-2012</option>
                  <option>2012-2013</option>
                  <option>2013-2014</option>
                  <option>2014-2015</option>
                  <option>2015-2016</option>
                  <option>2016-2017</option>
                  <option>2017-2018</option>
                  <option>2018-2019</option>
                  <option>2019-2020</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="course">课程名称</label>
              <div class="controls">
                <select class="span2" name="course" id="course">
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-course-btn"><i class="icon-search icon-white"></i> 查看学生名单</button>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-course-btn"><i class="icon-arrow-up icon-white"></i> 上传成绩</button>
              </div>
            </div>
          </div>
          <div id="record-result"></div>
        </div>
    </div>
</div>
