<div class="container">
    <div id="content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabs-1">开课计划</a></li>
            <li><a data-toggle="tab" href="#tabs-2">录入成绩</a></li>
          </ul>
        <div class="tab-content">
        <div class="active tab-pane" id="tabs-1">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-year">学年</label>
              <div class="controls">
                <select class="span2" name="school-year" id="school-year">
                  <option>2005-2006</option>
                  <option>2006-2007</option>
                  <option>2007-2008</option>
                  <option>2008-2009</option>
                  <option>2009-2010</option>
                  <option>2009-2010</option>
                  <option>2010-2011</option>
                  <option>2011-2012</option>
                  <option>2012-2013</option>
                  <option>2013-2014</option>
                  <option>2014-2015</option>
                  <option>2015-2016</option>
                  <option>2016-2017</option>
                  <option>2017-2018</option>
                  <option>2018-2019</option>
                  <option>2019-2020</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="course-type">课程类别</label>
              <div class="controls">
                <select class="span2" name="course-type" id="course-type">
                  <option>公选</option>
                  <option>公必</option>
                  <option>专选</option>
                  <option>专必</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-course-btn"><i class="icon-search icon-white"></i> 查看可开设课程</button>
              </div>
            </div>
          </div>
          <div id="available-result"></div>
        </div>

        <div class="tab-pane" id="tabs-2">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="school-year">学年</label>
              <div class="controls">
                <select class="span2" name="school-year" id="school-year">
                  <option>2005-2006</option>
                  <option>2006-2007</option>
                  <option>2007-2008</option>
                  <option>2008-2009</option>
                  <option>2009-2010</option>
                  <option>2009-2010</option>
                  <option>2010-2011</option>
                  <option>2011-2012</option>
                  <option>2012-2013</option>
                  <option>2013-2014</option>
                  <option>2014-2015</option>
                  <option>2015-2016</option>
                  <option>2016-2017</option>
                  <option>2017-2018</option>
                  <option>2018-2019</option>
                  <option>2019-2020</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="course">课程名称</label>
              <div class="controls">
                <select class="span2" name="course" id="course">
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-course-btn"><i class="icon-search icon-white"></i> 查看学生名单</button>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" id="view-course-btn"><i class="icon-arrow-up icon-white"></i> 上传成绩</button>
              </div>
            </div>
          </div>
          <div id="record-result"></div>
        </div>
    </div>
</div>
