form{
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	-moz-box-shadow:3px 3px 10px rgba(0,0,150,0.5);
	-webkit-box-shadow:3px 3px 10px rgba(0,0,150,0.5);
	padding:20px;
	width:440px;
}
form p{
	margin-bottom:20px;
}
form p:last-child{ /* S?ecteur avanc?pour s?ectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:120px;
}
form p:hover label{
	color:#0459b7;
}
