.wrapper {
    width: 100%;
    height: 50px;
    background : #464646;
	background : -webkit-gradient(linear, left top, left bottom, from(rgb(39,39,39)), to(rgb(0,0,0)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: absolute;
    margin-bottom: 20px;
}

.title {
	position: relative;
	left:4%;
	top: 15px;
	font-size: 22px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #000;
	margin-bottom: 30px;
}

.fl {
    float: left;
}

.menu {
    height: 50px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    margin-left: 4%;
}

.wrapper a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

ul.menu li {
    list-style: none;
    float:left;
    height: 49px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 50px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

.wrapper ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 49px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    }

.wrapper ul li a:hover {
    background: transparent none;
}

.wrapper ul[rel=sam1] li a {
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(0,0,0)), to(rgb(39,39,39)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
}

.wrapper ul[rel=sam1] li a:hover {
	background: transparent none;
	text-decoration: none;
	color:#6CF
}

.wrapper ul li.active a{
	background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
	background: -moz-radial-gradient(center 50px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
	font-size: 24px;
	color:#6CF
}


/* Css for vertical sample */
ul.vertical {
    margin: 0 20px 0 0;
    width: 250px;
    border: 1px solid #323232;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
}

ul.vertical li {
    list-style: none;
    position: absolute;
    background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 140, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 50px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}

ul.vertical li span {
    position: absolute;
    left: 20px;
    top: 50px;
    color: #151515;
    text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}

ul.vertical li:first-child a, ul.vertical li:first-child {
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
}

ul.vertical li:last-child a, ul.vertical li:last-child {
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
}

ul.vertical li a{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(117,117,117,1)), to(rgba(68,68,68,1)));
    background: -moz-linear-gradient(top, rgba(117,117,117,1), rgba(68,68,68,1));
    text-align: left;
    border-bottom: 1px solid #323232;
    border-top: 1px solid #868686;
    border-right: 1px solid #5a5a5a;
    color: #151515;
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
}

ul.vertical li a:hover {
    background: transparent none;
}

ul.vertical[rel=ver1] li a{
    background: #606060;
}

ul.vertical[rel=ver1] li a:hover{
    background: transparent none;
}