form{
    margin-left:50px;
	width:440px;
}
form p{
	margin-bottom:20px;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:60px;
}
form p:hover label{
	color:#0459b7;
}
