/* RATING */
#rating { list-style:none; margin:20px auto; }
#rating li { display:inline; float:left; }
#rating li a { display:block; width:18px; height:18px; margin:3px; border:1px solid #888; background-color:#333; text-indent:-9999px;
	-moz-box-shadow:0 0 5px #888; -moz-border-radius:4px; -webkit-box-shadow:0 0 5px #888; -webkit-border-radius:4px; -o-box-shadow:0 0 5px #888; -o-border-radius:4px; }

#ratinginfo { clear:left; margin:4px auto; }
#ratinginfo p { background-image:url("../images/textbg.png"); font:14px Georgia,'Times New Roman',serif; 
	-moz-box-shadow:0 0 5px #888; -moz-border-radius:4px; -webkit-box-shadow:0 0 5px #888; -webkit-border-radius:4px; -o-box-shadow:0 0 5px #888; -o-border-radius:4px; }
