.schedule{
    font-size: 14px;
    padding: 4px 5px;
}

.schedulepop{
    width: 10px;
}

.narrow-block{
    width: 30px;
}

.medium-block{
    width: 60px;
}

.wide-block{
    width: 120px;
}

.very-wide-block{
    width: 200px;
}

.very-very-wide-block{
    width: 400px;
}

th,td{
    text-align: center;
    vertical-align: middle;
}
